.navigation {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,1);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 10;
    box-shadow: 0 0 10px black;
    opacity: 0.95;
    transition: background-color 0.3s, opacity 0.3s;
  
    & .logo-container {
      height: 100%;
      width: 70px;
      padding: 15px 15px;
      
    }
  
    & .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    
      & .red {
        color:red;
        text-shadow: 0 0 5px red;
      }

      & .nav-link {
        padding: 10px 15px;
        cursor: pointer;
      

        &.nav-link:hover {
          color: rgb(203, 203, 203);
          text-shadow: 0 0 1px rgb(203, 203, 203);
        }
      }
    }
  }
  